
<div class="wow fadeInDown" data-wow-delay="0.1s">
        <h4 class="h-bold">Collected</h4>
        @*<p>
            Thank you for business! 
        </p>*@
        <img src="~/img/collected.png" class="img-responsive" style="margin:0 auto;" />
</div>