<div class="wow fadeInDown" data-wow-delay="0.1s">
            <h4 class="h-bold">Delivery</h4>
            <p>
                @*<b>Definition: </b>*@
                1Click courier is now on its way to deliver your parcel to the recipient. Thank you!
            </p>
            <img src="~/img/enroute.gif" class="img-responsive" style="margin:0 auto;" />
</div>
