
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-section bg-gray paddingbot-60" style="margin-top:60px">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Document Rates</h2>
                    </div>

                </div>
                <div class="divider-short"></div>
                <br />
                <br />
                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h3 class="h-bold">Metro Manila</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general">
                        <h3>₱40<sup>.00</sup> </h3>
                        <h2><b>SMALL POUCH</b> <br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/12x6.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱45<sup>.00</sup> </h3>
                        <h2><b>MEDIUM POUCH</b><br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/14x9.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last ">
                        <h3>₱60<sup>.00</sup> </h3>

                        <h2><b>LARGE POUCH</b><br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/18x12.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱75<sup>.00</sup> </h3>

                        <h2><b>OWN PACKAGING</b><br /><br /> (up to 3kg) + ₱20 per additional kg</h2>
                        <div>
                            <img src="~/img/box.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-sm-3 pricing-box">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="pricing-content general last ">
                            <h3>₱60<sup>.00</sup> </h3>

                            <h2><b>LARGE POUCH</b><br /><br /> unlimited weight</h2>
                            <div>
                                <img src="~/img/dummy/18x12.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                            </div>
                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>

    </div>

    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <br />
                        <br />
                        <br />


                        <h3 class="h-bold">Provincial</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general alt">
                        <h3>₱90<sup>.00</sup> </h3>
                        <h2><b>SMALL POUCH</b><br /><br />up to 500g</h2>
                        <div>
                            <img src="~/img/dummy/11x6.5.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last ">
                        <h3>₱110<sup>.00</sup></h3>

                        <h2><b>LARGE POUCH</b><br /><br />up to 1kg</h2>
                        <div>
                            <img src="~/img/dummy/14x9.5.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




</section>

@section Scripts {
<script>
    $("#docx").addClass("active");
    $("#dashactive").removeClass("active");

</script>
    }