<!-- Section: intro -->
<section id="intro" class="intro" data-section="intro">
    <div class="intro-content" style="border: 4px solid #eee;">
        <div class="container">
            <div class="row">
                <div style="padding-top:1px" class="col-sm-6">


                

                </div>
                <div class="col-sm-6">

                    <div class="well well-trans" style=" border: 1px solid #eee;">
                        <div class="wow fadeInRight" data-wow-delay="0.1s">

                            <ul class="lead-list">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12" style="margin: 0 0 0 10px;">
                                            <h6 class="h-medium">Book Now</h6>
                                        </div> <br /><br />
                                        <div id="forFont" class="text-left" style="margin: 0 0 0 10px;">
                                            <div class="col-md-4 col-xs-12" style="margin-bottom:10px">
                                                <div class="row">
                                                    <div class="col-xs-4 col-md-12">
                                                        <img src="~/img/photo/1.png" alt="Call" style="width:100%; height:auto;" width="180">
                                                    </div><br />
                                                    <div class="col-xs-8  col-md-12">
                                                        <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Call</b><br />(02)705 1071 <span style="color:#676767;">or</span> <br />0923-180-7478</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12" style="margin-bottom:20px">
                                                <div class="row">
                                                    <div class="col-xs-4 col-md-12">
                                                        <img src="~/img/photo/2.png" alt="Text" style="width:100%; height:auto;" width="180">
                                                    </div><br />
                                                    <div class="col-xs-8 col-md-12">
                                                        <p style="margin-bottom:0px;color:#3288c4"><b id="bol" style="color:#676767;">Text</b><br />0917-538-8126</p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12" style="margin-bottom:20px">
                                                <div class="row">
                                                    <div class="col-xs-4 col-md-12">
                                                        <img src="~/img/photo/3.png" alt="Online" class="todash" style=" cursor:pointer; width:100%; height:auto;" width="180">
                                                    </div><br />
                                                    <div class="col-xs-8 col-md-12">
                                                        <p style="margin-bottom:0px"><b id="bol">Online</b></p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <div id="nn">

                                </div>

                                <li>
                                    <span class="list">
                                        <strong>Note to our valued customers:</strong><br>
                                        @*In order to keep up with our commitment, booking made after 2:00PM will be picked up the following business day. There is no pickup on Sundays and work holidays. Thank you!*@
                                        There is no pickup on Sundays and work holidays. Thank you!
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    <style>
        .hero__scroll-button {
            left: 50%;
            /* -webkit-transform: translateX(-50%); */
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            bottom: -24px;
            cursor: pointer;
            height: 48px;
            position: absolute;
            width: 48px;
            z-index: 1;
        }
    </style>
    <div id="scroll-button" class="hero__scroll-button " type="button" aria-label="Click here to scroll the page." >
        <img src="~/img/greenarrow.png" style="width:100%"/>
    </div>
</section>
<!-- Section: pricing -->
<section id="metro" class="home-section bg-gray paddingbot-60" data-section="price" >
    <div class="container marginbot-50" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Rates</h2>
                    </div>

                </div>
                <div class="divider-short"></div>
                <br />
                <br />
                <div class="wow lightSpeedIn" data-wow-delay="0.1s" data-section="metro">
                    <div class="section-heading text-center">
                        <h3 class="h-bold">Metro Manila <small>(Next Day)</small></h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general">
                        <h3>₱40<sup>.00</sup> </h3>
                        <h2><b>SMALL POUCH</b> <br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/12x6.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱45<sup>.00</sup> </h3>
                        <h2><b>MEDIUM POUCH</b><br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/14x9.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last ">
                        <h3>₱60<sup>.00</sup> </h3>

                        <h2><b>LARGE POUCH</b><br /><br /> unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/18x12.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱75<sup>.00</sup> </h3>
                        <h2><b>OWN PACKAGING</b><br /><br /> (up to 3kg) + ₱20 per additional kg</h2>
                        <div>
                            <img src="~/img/box.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom" id="province" data-section="province">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container marginbot-50"  >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <br />
                        <br />
                        <br />


                        <h3 class="h-bold">Provincial <small>(2 - 4 days)</small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-sm-4 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general alt">
                        <h3>₱150<sup>.00</sup> </h3>
                        <h2><b>SMALL POUCH</b><br /><br />up to 1kg</h2>
                        <div>
                            <img src="~/img/dummy/14x9.5.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="col-sm-4 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last ">
                        <h3>₱230<sup>.00</sup></h3>

                        <h2><b>LARGE POUCH</b><br /><br />up to 3kg</h2>
                        <div>
                            <img src="~/img/dummy/18x12.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pricing-box ">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱240<sup>.00</sup> </h3>
                        <h2><b>OWN PACKAGING</b><br /><br id="forBr" />(up to 3kg) + ₱95 per additional kilogram</h2>
                        <div>
                            <img src="~/img/box.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom" id="cod" data-section="cod">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container marginbot-50" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <br />
                        <br />
                        <br />
                        <h3 class="h-bold">COD Metro Manila Only</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.1s">
                    <div class="pricing-content general">
                        <h3>₱90<sup>.00</sup> </h3>
                        <h2><b>SMALL POUCH</b><br /><br /> Up to 1kg</h2>
                        <div>
                            <img src="~/img/dummy/12x6.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt">
                        <h3>₱95<sup>.00</sup> </h3>
                        <h2><b>MEDIUM POUCH</b><br /><br />unlimited weight</h2>
                        <div>
                            <img src="~/img/dummy/14x9.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pricing-box">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="pricing-content general last">
                        <h3>₱110<sup>.00</sup></h3>

                        <h2><b>LARGE POUCH</b><br /><br /> up to 3kg</h2>
                        <div>
                            <img src="~/img/dummy/18x12.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin2 btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pricing-box featured-price">
                <div class="wow bounceInUp" data-wow-delay="0.3s">
                    <div class="pricing-content general alt po">
                        <h3>Custom </h3>
                        <h2><b>OWN PACKAGING</b><br />(up to 3kg) + ₱95 per additional kilogram</h2>
                        <div>
                            <img src="~/img/box.jpg" class="img-responsive" style="width:250px; height:150px; margin:10px auto;" />
                        </div>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-skin btn-lg todash">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="about" class="home-section paddingbot-60" data-section="about" >
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">About Us</h2>
                        <div class="divider-short"></div>

                        <p>
                            Nowadays, online businesses have been booming. The need for courier service has skyrocketed to the highest level more than ever. Because of this, STORK was stablished to provide fast and simple ways to accomodate the needs of our modern entrepreneurs and individuals with courier service needs as well.

                            That is why, we provide ways to connect to us through call, text and online. Whichever media you may choose would result to the same fast and efficient delivery of your parcel.

                            At STORK, we treat each item we deliver as our own hence we try to deliver it to its destination on time and safe. Try us NOW!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<style>
    .jag-faq-theme5 .jag-faq-title {
        border-left-color: #ff0044;
    }

    .jag-faq-theme5 .jag-faq-title {
        background: #ffffff;
        color: #000;
        padding: 20px;
        font-size: 15px;
        margin-top: 15px;
        cursor: pointer;
        position: relative;
        border-left: 5px solid #004AAD;
        box-shadow: 0px 0px 10px #dddddd;
    }
</style>

<section id="faq" class="home-section paddingbot-60" data-section="faq">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">FAQ</h2>
                        <div class="divider-short"></div>
                    </div>
                    <div class="panel-group jag-faq-theme5 jag-faq-random-colors" id="jag-theme-5">
                        <div class="col-lg-6">
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_1" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    Is there a pickup fee?
                                </div>
                                <div id="collapse5_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        There is no pickup fee. It is included in the delivery charge.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_2" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What does it mean by "cut-off time"?
                                </div>
                                <div id="collapse5_2" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Cut-off time is up to 2PM. It means that STORK courier can pickup your parcel within the day if schedule has been made on or before 2PM.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_3" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What is your operating hours?
                                </div>
                                <div id="collapse5_3" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        We are open Mondays-Saturdays from 9am-6pm. After 6pm, all lines will no longer be answered.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_4" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What happens when the recipient is not available to receive the COD item?
                                </div>
                                <div id="collapse5_4" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        STORK Team will contact the sender to ask if re-delivery is required. If re-delivery is requested, another SHIPPING FEE rate will be collected but the COD fee will not be collected anymore. The additional shipping fee will be deducted from the COD remittance. If the seller decides to return the items back, we will return the items for FREE but the COD fee will not be refunded.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_6" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What happens in the event of loss or damages of goods whilst in transit?
                                </div>
                                <div id="collapse5_6" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        We will always assist and support the claim after supplying relevant documentation etc. You should report it within two (2) days of delivery of the goods or the date by which the goods should have been delivered, whichever is the earlier. Should we not receive any such notice in writing, we shall be forever discharged from any and all liabilities to any person (including the customer) in respect of the goods and or the Services. Our Customer Care Team's email address is info@STORK.ph
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_90" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    I was provided an LBC tracking number for my provincial shipment upon tracking thru your website?
                                </div>
                                <div id="collapse5_90" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        You can use the LBC tracking number provided thru the LBC website.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_7" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What does “unlimited weight” mean?
                                </div>
                                <div id="collapse5_7" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        We have fixed rates for our Small, Medium and Large pouches for Metro Manila pickups and deliveries, as long as the items to be shipped fit our pouches. Small pouch is P40, regardless of weight, Medium pouch is P45, regardless of weight and Large pouch is P60, regardless of weight.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_8" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    Where do I get my pouch?
                                </div>
                                <div id="collapse5_8" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        STORK courier will provide you with the pouch and manual waybills on the day of the scheduled pickup. You can also request for them ahead of time, especially if bulk shipments are involved. You may call our hotline for this or email us at info@STORK.ph.
                                    </div>
                                </div>
                            </div>

                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_61" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    Can I insure my shipment?
                                </div>
                                <div id="collapse5_61" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Yes you can. You pay 1% of the declared value for insurance.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_9" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    Am I required to fill-up a manual waybill?
                                </div>
                                <div id="collapse5_9" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Yes, you may ask our courier for a manual waybill. You may also print an electronic waybill under E Waybill menu from your STORK dashboard account.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_10" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What do you use to package your shipments and are there sizes available?
                                </div>
                                <div id="collapse5_10" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Our pouches have 3 sizes:
                                        small pouch is 6 x 12 inches
                                        medium pouch is 9 x 14 inches
                                        large pouch is 12 x 18 inches
                                        If your item/s do not fit any of our pouches, please provide your own packaging.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_11" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    Is there a minimum number of packages required for you to pickup from my address?
                                </div>
                                <div id="collapse5_11" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        There is no minimum number of parcels for pickup. Just book online and our courier will be on your doorstep within the day of the scheduled pickup.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_12" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What does it mean “processing” when I track my parcel?
                                </div>
                                <div id="collapse5_12" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Your shipment/parcel is in transit.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_13" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    How many attempts will you try to deliver my package/s before returning it to me?
                                </div>
                                <div id="collapse5_13" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        RTS or return to sender is done after attempting to deliver at the said address twice. This is free of charge.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_14" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    If recipient is not found in the address given, is it possible for me to change the address? Should I pay for an additional fee for this?
                                </div>
                                <div id="collapse5_14" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Yes, because our courier already attempted to deliver your package hence a done transaction.
                                    </div>
                                </div>
                            </div>
                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_15" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What if I had something shipped but the recipient does not live there anymore, do I get a refund?
                                </div>
                                <div id="collapse5_15" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        Unfortunately not, because it is already a done transaction, meaning the effort of picking up the item from you and delivering to the address given has already been made.
                                    </div>
                                </div>
                            </div>





                            <div class="panel jag-faq-wrapper">
                                <div class="jag-faq-title collapsed" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_69" aria-expanded="false">
                                    <i class="jag-faq-icon-2 fa fa-plus"></i>
                                    What are the products not allowed by STORK to ship?
                                </div>
                                <div id="collapse5_69" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <ul id="g1-list-1" class="g1-list--icon g1-list--none ">
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Any substance prohibited by Philippine law</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Perishable food</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Flammable materials</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Money in any currency</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Jewelries</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Pressurized aerosoles</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Firearms (or any item resembling it)</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Radioactive substances</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Live animals</li>
                                            <li><i class="icon-remove-sign g1-list__icon"></i>Light bulbs</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</section>

@section Scripts {
<script type="text/javascript">
    $('.todash').click(function () {
        window.location = '@Url.Action("Login", "Account")';
    });
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 4,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 1000,
        autoplayHoverPause: false
    });
   
</script>
}