
@{
    ViewBag.Title = "Terms";
}
<section  class="home-section paddingbot-60"  style="padding-top:200px">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Terms and Conditions</h2>
                        <div class="divider-short"></div>
                        <br />
                        <div class="text-left">
                            <p><b>Limits of Liability</b><br /></p>
                            <p>
                                1Click Delivery Couriers Services liability is limited to a maximum of Two Thousand Pesos (Php 2,000.00) per shipment, unless Shipper/Consignor pays for additional shipment insurance and declare a higher value. In no case shall the maximum declared value per shipment exceed the amount of Ten Thousand Pesos (Php 10,000.00). NO DECLARED VALUE, liability of 1Click Delivery shall be limited to the refund of shipping cost. DECLARED VALUE, liability of 1Click Delivery shall be limited to the value declared in the 1Click Delivery official waybill.
                            </p>
                            <p>
                                1Click Delivery shall not be liable for other damages. Including but not limited to incidential, consequential, nominate, moral and exemplary damages, unrelialized profits/earnings, and the like.
                            </p>
                            <p>
                                1Click Delivery shall not be liable for lost, damaged, delayed shipment due to unforseen events or though forseen, are beyond the control of 1Click Delivery, acts of God, strikes, war, rebellion, calamity, shipper’s and/or shipper’s agent’s fault, negligence and/or misrepresentation, consignee’s and/or consignee’s agent's fault/negligence and/or misrepresentation, natural defect of goods, government actions, and any and all other events and/or circumstances beyond the control of 1Click Delivery.
                            </p>
                            <p>
                                In case of claims for loss or damage to shipment, claim must be made with the main hub of 1Click Delivery in San Juan within twenty-four hours (24) from receipt/acceptance of shipment. All other claims must be made within Seven (7) days, from receipt/acceptance of shipment, otherwise, such claims and/or complaints shall be deemed waived.
                            </p>
                            <p>
                                Venue of all legal actions shall be in the proper courts of San Juan City only, to the exclusion of all other courts.
                            </p>
                            <p>
                                <b>Warranties</b><br />
                            <p>
                                Shipper unconditionally warrants, that:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        The Shipment does not complain:
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Jewerly and/or precious stones/metals, cash and currencies of any kind </p>
                                        </li>
                                        <li>
                                            <p> Valuable documents such as, but not limited to passport, visas, land titles, certificates, licenses, receipts and the like </p>
                                        </li>
                                        <li>
                                            <p> Prohibited items such as, but not limited to pirated items, drugs, guns, ammunitions, explosives, flammable items, hazardous chemicals </p>
                                        </li>
                                    </ul>
                                    <p>
                                        In case of violation of this warranty, Shipper holds 1Click Delivery free and harmless from any liability arising and/or in connection with the same, and shall cooperate with 1Click Delivery in depending itself should any claim be brought against it in connection herewith, without prejudice to the liability of Shipper to reimburse 1Click Delivery for all expences incurred in making such defence, including but not limited to costs of law suit and attorney’s fees, without further prejudice to other remedies available to 1Click Delivery against Shipper under law and equity.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        1Click Delivery is authorized by Shipper to, at its option, before acceptance of the shipment or even during the time that the package is in the custody of 1Click Delivery, to open and/or inspect the package, in the presence of the shipper, consignee, their respective authorized representatives, or government officials/authorities.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        The package is sealed in his/her presence and that the content are intact.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        The shipment is packaged sufficiently to prevent damage that would arise in the normal handling of shipment. Any glass, fragile items or electronic equipment must be identified as such and be professionally packaged or crated, for shipment otherwise; any  claim for damage or loss against such shipment shall be denied or unavailing.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        The shipment is properly described on the waybill as to its proper contents and/or value.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        All information given and/or written and/or provided is true and correct. Should address of Consignee and/or Name of Consignee be incorrect and/or inacurrate. Shipper shall be liable and shall pay for the re-forwarding, return and/or other charges to be incurred as a consequence of said misrepresentation.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shipper agrees that 1Click Delivery shall have a lien on any and all goods shipped for the payment of unpaid freight charges, custom duties and/or other fees and/or advances or charges for the delivery of the shipment.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        All applicable laws, rules and regulations, including but not limited to the procurement of necessary permit/s and/or licences from appropriate offices/agencies have been complied with by Shipper in connection with this and/or the contents of the shipment.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Within the day for delivery, consignee or any person residing or found in the given address of sufficient discretion is present to receive the shipment and the receipt of said person is authorized by Consignee and Shipper and is deemed as regular and complete delivery.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        At the date and time of delivery to the consignee, any and all persons present at the address provided by the Shipper, with sufficient discretion, are duly authorized as agents to act for and on behalf of the Consignee and any all of action/s of said person/s is binding on the Consignee and Shipper, including but not limited to the signing of the Waybill and the receipt/acceptance of the package.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shipper, Consignee and their respective agents and/or asignees shall hold 1Click Delivery free and harmless from any liability arising from the damage of/loss/daley in shipment that is not attributable to the sole and willful fault of 1Click Delivery.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shipper has the sole obligation to verify the status of delivery of the shipment within seven (7) days from date of acceptance thereof by 1Click Delivery.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Should there be a refusal to accept by consignee of the shipment or in any case, non-delivery of the shipment, the Shipper must, within thirty (30) days from acceptance thereof by 1Click Delivery, claim the said shipment. Otherwise, 1Click Delivery shall be authorized to dispose of the shipment in a manner it sees fit or to charge cost of storage to shipper or claimant, among others. Shipper thus authorizes and empowers 1Click Delivery as its/his/her attorney-in-fact to perform  the foregoing and to accomplish the same. Since this authorization is vested with interest, the same is irrevocable.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shipper shall hold 1Click Delivery free and harmless from any liability due to the delay in delivery due to absence of consignee or any person of sufficient discretion in the address provided by Shipper who will accept or receive the shipment.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shipper has completely read and understood the terms of this contract and voluntarily acts the terms and conditions thereof, upon affixing of signature of Shipper or Shipper’s authorized representative in this Waybill.
                                    </p>
                                </li>

                            </ol>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
