<style>
    #ScheduleAPickupButton:hover, #CreateWayBillButton:hover, #PickupAddressIndexButton:hover {
        cursor: pointer;
        opacity: .9;
    }
</style>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="ScheduleAPickupButton">
    <div class="panel panel-default text-center card ">
        <div class="panel-body menu_buttons">
            <img src="~/img/calendar-icon.png" alt="Schedule a Pickup" width="64" height="64" class="img-responsive" style="margin: auto"><br>Schedule a Pickup
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="CreateWayBillButton">
    <div class="panel panel-default text-center  card">
        <div class="panel-body menu_buttons">
            <img src="~/img/waybill.png" alt="Create Way Bill" width="64" height="64" class="img-responsive" style="margin: auto"><br>Create a Waybill
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="PickupAddressIndexButton">
    <div class="panel panel-default text-center card ">
        <div class="panel-body menu_buttons">
            <img src="~/img/add.png" alt="Schedule a Pickup" width="64" height="64" class="img-responsive" style="margin: auto"><br>Manage Address
        </div>
    </div>
</div>



